<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.jim.ncaaf.massey-window</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>/Users/jameslindesmith/NCAAF_AUTO/scripts/war_room/start_massey_window_scheduler.sh</string>
  </array>

  <key>WorkingDirectory</key>
  <string>/Users/jameslindesmith/NCAAF_AUTO</string>

  <key>StartCalendarInterval</key>
  <array>
    <dict><key>Weekday</key><integer>7</integer><key>Hour</key><integer>10</integer><key>Minute</key><integer>0</integer></dict>
    <dict><key>Weekday</key><integer>7</integer><key>Hour</key><integer>12</integer><key>Minute</key><integer>0</integer></dict>
    <dict><key>Weekday</key><integer>7</integer><key>Hour</key><integer>14</integer><key>Minute</key><integer>0</integer></dict>
    <dict><key>Weekday</key><integer>7</integer><key>Hour</key><integer>16</integer><key>Minute</key><integer>0</integer></dict>

    <dict><key>Weekday</key><integer>1</integer><key>Hour</key><integer>5</integer><key>Minute</key><integer>30</integer></dict>
    <dict><key>Weekday</key><integer>1</integer><key>Hour</key><integer>6</integer><key>Minute</key><integer>0</integer></dict>
    <dict><key>Weekday</key><integer>1</integer><key>Hour</key><integer>6</integer><key>Minute</key><integer>30</integer></dict>
    <dict><key>Weekday</key><integer>1</integer><key>Hour</key><integer>7</integer><key>Minute</key><integer>0</integer></dict>
  </array>

  <key>ProcessType</key>
  <string>Background</string>

  <key>StandardOutPath</key>
  <string>/Users/jameslindesmith/Scripts/NCAAF/massey_window.stdout.log</string>

  <key>StandardErrorPath</key>
  <string>/Users/jameslindesmith/Scripts/NCAAF/massey_window.stderr.log</string>
</dict>
</plist>
